* {
    margin: 0;
    box-sizing: border-box;
}

#container {

    display: grid;
    max-width: calc(16*6rem);
    
    justify-content: center;
    margin: auto;
    
    border: 1px solid black;
}

menu {

    text-align: end;

}

menu ul button {
    font-size: 1.2rem;
}

menu label{
    display: block;
    text-align: center;
}
menu div{
    text-align: center;
}
menu ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;

}

#new-grid {

    margin-right: 8rem;
    font-size: 1.5rem;
}

#container>div {
    text-align: center;
}

/* #container>div:hover {

    background-color: aqua;

} */

header {

    height: 10vh;
}

main {
    min-height: 100vh;
    padding: 3rem;
    text-align: center;
}

.paint {

    background-color: #000000;

}