* {
    margin: 0;
    box-sizing: border-box;
}

#container {

    display: grid;
    max-width: calc(16*6rem);
    grid-template-columns: repeat(16, 6rem);
    grid-template-rows: repeat(16, 6rem);
    /* justify-items: stretch; */
    justify-content: center;
    margin: auto;
    /* justify-self: center; */
    /* align-items: stretch; */
    border: 1px solid black;
}

#container>div {
    text-align: center;
}

/* #container>div:hover {

    background-color: aqua;

} */

header {

    height: 10vh;
}

main {
    min-height: 100vh;
    padding: 3rem;
    text-align: center;
}

.paint{

    background-color: black;

}